<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
            <div class="logo"> Task Management</div>
            <ul class="nav">
                <li> <a href="/">HOME</a></li>
                <li> <a href="/tasks">CREATE</a></li>
                <li> <a href="/about">ABOUTUS</a></li>
                <li> <a href="/auth">SINGUP</a></li>
            </ul>
    </header>

    <div class="main-content">
        <div>
            <h1 class="main-title">The Ultimate Guide <br>to Task Management</h1>
            <p class="subtitle">
                Simplify your tasks and improve your <br>productivity with our all-in-one tool!
            </p>
        </div>
        <img src="static/uploads/png.png" alt="Task Manager Illustration" class="custom-image">
    </div> 
      
    <footer class="footer">
        <div class="ikons">
            <a href="#" class="ikon">
                <img src="static/uploads/free-icon-telegram-2111646.png" alt="Telegram">
            </a>
            <a href="#" class="ikon">
                <img src="static/uploads/free-icon-whatsapp-4494494.png" alt="WhatsApp">
            </a>
            <a href="#" class="ikon">
                <img src="static/uploads/free-icon-instagram-2111463.png" alt="Instagram">
            </a>
            <a href="#" class="ikon">
                <img src="/static/uploads/free-icon-vk-2504953.png" alt="VK">
            </a>
        </div>
    </footer>
</body>
</html>
